<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filter</title>
</head>
<body>
<form th:method="GET" th:action="@{/product/filter}" th:object="${filter}">
    <label for="name">Enter filter: </label>
    <input type="text" th:field="*{strfilter}" id="name"/>
    <input type="submit" value="Filter"/>
</form>
<hr/>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название товара</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${filterProducts}">
            <td>
                <a th:href="@{/product/{id}(id = ${product.getId()})}" th:text="${product.id}"/>
            </td>
            <td th:text="${product.title}"/>
            <td th:text="${product.cost}"/>
        </tr>
        </tbody>
    </table>
    <br>
    <a href="/product">Back</a>
</div>
</body>
</html>